html {
    font-size: 1px; /*1 rem == 1px */
}

body {
    font-size: 16px;
    background-color: black;
    color: white;
}

img.album-cover {
    max-width: 100%;
    max-height: 480px;
}

body#home {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body#home #content {
    margin: 0 auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: [album-cover] auto;
    justify-items: center;
}

.album-with-links {
    display: grid;
    grid-column: album-cover;
    max-width: 100%;
    max-height: 480rem;
}

body#home #content .stream-links {
    display: grid;
    margin: 0;
    padding: 0;
}

.stream-links {
    width: 480rem;
    display: inline-grid;
    grid-column: album-cover;
    grid-template-columns: [spotify] 1fr [apple] 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.stream-link {
    display: grid;
    width: 32rem;
    height: 32rem;
    background-position: top left;
    background-size: cover;
}

.stream-link a {
    color: transparent;
}

.stream-spotify {
    /*width: 106rem;*/
    /*height: 32rem;*/
    background-image: url('/assets/images/streaming/Spotify_Logo_RGB_Green.png');
    grid-column: spotify;
}

.stream-apple {
    /*width: 100rem;*/
    /*height: 22rem;*/
    background-image: url('/assets/images/streaming/apple-music.png');
    grid-column: apple;
}

