body {
    width: 100%;
    height: 100%;
    margin: 48px 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

#home #content, #album #content {
    margin: 0 auto;
    display: grid;
    max-width: 80%;
    grid-template-columns: [album-cover] auto;
    justify-items: center;
    grid-gap: 48px;
}

.album-cover {
    display: grid;
    grid-column: album-cover;
    max-width: 100%;
    max-height: 480px;
    text-align: center;
}

.album-cover img {
    max-width: 100%;
    max-height: 480px;
}

.album-with-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.stream-links {
    grid-column: album-cover;
    display: flex;
    max-width: 480px;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 4px;
    column-gap: 2px;
    justify-content: center;
}

.stream-link {
    margin: auto;
}

.stream-link img {
    max-height: 32px;
}

.stream-link.stream-youtube img {
    max-height: 24px;
}

.stream-link.stream-tidal img {
    max-height: 18px;
}

.stream-link.stream-deezer img {
    max-height: 24px;
}
